## Castle Voron 3D Printer Configuration File

[include settings/base.cfg]
[include settings/motors.cfg]

[include macros/stealthburner_leds.cfg]
[include macros/bed_fans.cfg]
[include macros/toolhead.cfg]
[include macros/utils.cfg]
[include macros/main.cfg]
#[include macros/calibrations.cfg]

[mcu]
canbus_uuid = ea537c2c99d7

[mcu EBBCan]
canbus_uuid = 73966a85e234

[printer]
kinematics = corexy
max_velocity = 350
max_z_velocity = 30
max_z_accel = 350
square_corner_velocity = 8.0
max_accel = 8000
minimum_cruise_ratio = 0.5

[stepper_x]
step_pin = PC13
dir_pin = PF0
enable_pin = !PF1
rotation_distance = 40
microsteps = 32
full_steps_per_rotation = 400
endstop_pin = EBBCan: PB6
position_min = 0
position_max = 298
position_endstop = 298
homing_speed = 25
homing_retract_dist = 5

[tmc2209 stepper_x]
uart_pin = PE4
interpolate = false
run_current = 0.8
sense_resistor = 0.110
stealthchop_threshold = 0

[stepper_y]
step_pin = PF9
dir_pin = PF10
enable_pin = !PG2
rotation_distance = 40
microsteps = 32
full_steps_per_rotation = 400
endstop_pin = PG6
position_min = 0
position_max = 298
position_endstop = 298
homing_speed = 25
homing_retract_dist = 5

[tmc2209 stepper_y]
uart_pin = PF2
interpolate = false
run_current = 0.8
sense_resistor = 0.110
stealthchop_threshold = 0

[stepper_z]
step_pin = PG4
dir_pin = PC1
enable_pin = !PA0
rotation_distance = 40
gear_ratio = 80:16
microsteps = 32
endstop_pin = probe:z_virtual_endstop
position_max = 260
position_min = -5
homing_speed = 8
second_homing_speed = 3
homing_retract_dist = 3

[tmc2209 stepper_z]
uart_pin = PC7
interpolate = false
run_current = 0.8
sense_resistor = 0.110
stealthchop_threshold = 0

[stepper_z1]
step_pin = PF11
dir_pin = !PG3
enable_pin = !PG5
rotation_distance = 40
gear_ratio = 80:16
microsteps = 32

[tmc2209 stepper_z1]
uart_pin = PC6
interpolate = false
run_current = 0.8
sense_resistor = 0.110
stealthchop_threshold = 0

[stepper_z2]
step_pin = PG0
dir_pin = PG1
enable_pin = !PF15
rotation_distance = 40
gear_ratio = 80:16
microsteps = 32

[tmc2209 stepper_z2]
uart_pin = PD11
interpolate = false
run_current = 0.8
sense_resistor = 0.110
stealthchop_threshold = 0

[stepper_z3]
step_pin = PF13
dir_pin = !PF12
enable_pin = !PF14
rotation_distance = 40
gear_ratio = 80:16
microsteps = 32

[tmc2209 stepper_z3]
uart_pin = PC4
interpolate = false
run_current = 0.8
sense_resistor = 0.110
stealthchop_threshold = 0

[extruder]
step_pin = EBBCan: PD0
dir_pin = EBBCan: PD1
enable_pin = !EBBCan: PD2

# Clockwork 2 Settings
# rotation_distance = 22.6789511
# gear_ratio = 50:10
# microsteps = 32

# Galileo 2 Settings
rotation_distance = 47.088
gear_ratio = 9:1
microsteps = 16

full_steps_per_rotation = 200
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = EBBCan: PB13
sensor_type = ATC Semitec 104NT-4-R025H42G
sensor_pin = EBBCan: PA3
pressure_advance = 0.040
pressure_advance_smooth_time = 0.040
min_temp = 10
max_temp = 350
max_power = 1.0
min_extrude_temp = 190
max_extrude_only_distance = 121
#control = pid
#pid_kp = 22.675
#pid_ki = 1.338
#pid_kd = 96.084

[tmc2209 extruder]
uart_pin = EBBCan: PA15
interpolate = false
run_current = 0.6
sense_resistor = 0.110
stealthchop_threshold = 0

[fan]
pin = EBBCan: PA1
kick_start_time = 0.5
off_below = 0.10

[heater_fan hotend_fan]
pin = EBBCan: PA0
max_power = 1.0
kick_start_time = 0.5
heater = extruder
heater_temp = 50.0

[heater_bed]
heater_pin = PA1
sensor_type = Generic 3950
sensor_pin = PF3
pwm_cycle_time = 0.02
max_power = 0.98
min_temp = 0
max_temp = 125
#control = pid
#pid_kp = 69.862
#pid_ki = 1.909
#pid_kd = 639.239

[verify_heater heater_bed]
max_error: 120
check_gain_time: 480
heating_gain: 1

[probe]
pin = ^EBBCan: PB5
x_offset = 0
y_offset = 0
speed = 5
lift_speed = 25
samples = 5
samples_result = median
sample_retract_dist = 3.0
samples_tolerance = 0.0085
samples_tolerance_retries = 6
activate_gcode = 
	{% set PROBE_TEMP = 150 %}
	{% set MAX_TEMP = PROBE_TEMP + 5 %}
	{% set ACTUAL_TEMP = printer.extruder.temperature %}
	{% set TARGET_TEMP = printer.extruder.target %}
	
	{% if TARGET_TEMP > PROBE_TEMP %}
	{ action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
	M109 S{ PROBE_TEMP }
	{% else %}
	
	{% if ACTUAL_TEMP > MAX_TEMP %}
	{ action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
	TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
	{% endif %}
	{% endif %}
#z_offset = -0.295

[idle_timeout]
timeout = 7200

[safe_z_home]
home_xy_position = 149,149
speed = 100
z_hop = 5

[quad_gantry_level]
gantry_corners = 
	-60,-10
	360,370
points = 
	25,25
	25,275
	275,275
	275,25
speed = 200
horizontal_move_z = 15
retries = 8
retry_tolerance = 0.0055
max_adjust = 10

[display]
lcd_type = uc1701
cs_pin = PE9
a0_pin = PE10
rst_pin = PE12
encoder_pins = ^PB2, ^PB1
click_pin = ^!PE7
contrast = 63
spi_bus = spi1

[neopixel btt_mini12864]
pin = PE13
chain_count = 3
initial_red = 0.3
initial_green = 0.3
initial_blue = 0.3
color_order = RGB

[delayed_gcode setdisplayneopixel]
initial_duration = 1
gcode = 
	SET_LED LED=btt_mini12864 RED=0.22 GREEN=0.22 BLUE=0.22 INDEX=1 TRANSMIT=0
	SET_LED LED=btt_mini12864 RED=0.22 GREEN=0.22 BLUE=0.22 INDEX=2 TRANSMIT=0
	SET_LED LED=btt_mini12864 RED=0.22 GREEN=0.22 BLUE=0.22 INDEX=3
	SET_PIN PIN=caselight VALUE=0.40
    STATUS_READY
    SET_NOZZLE_LEDS_OFF

[temperature_sensor toolhead_ext]
sensor_type = MAX31865
sensor_pin = EBBCan: PA4
spi_bus = spi1
rtd_nominal_r = 1000
rtd_reference_r = 4300
rtd_num_of_wires = 2
rtd_use_50hz_filter = true

[temperature_sensor toolhead_int]
sensor_type = Generic 3950
sensor_pin = EBBCan: PA2

[temperature_sensor chamber]
sensor_type = ATC Semitec 104NT-4-R025H42G
sensor_pin = PF4

[temperature_sensor electronics_box]
sensor_type = ATC Semitec 104NT-4-R025H42G
sensor_pin = PF5

[temperature_sensor raspberry_pi]
sensor_type = temperature_host
min_temp = 10
max_temp = 100

[temperature_sensor octopus_mcu]
sensor_type = temperature_mcu
min_temp = 0
max_temp = 100

[temperature_sensor ebb_mcu]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[fan_generic BedFans]
pin = PD12
kick_start_time = 0.5

[heater_fan controller]
pin = PA8
max_power = 1.0
kick_start_time = 0.5
heater = heater_bed
heater_temp = 35.0
fan_speed = 1.0

[heater_fan nevermore]
pin = PE5
max_power = 1.0
kick_start_time = 0.5
heater = heater_bed
heater_temp = 60.0
fan_speed = 0.8

[adxl345]
cs_pin = EBBCan: PB12
spi_software_sclk_pin = EBBCan: PB10
spi_software_mosi_pin = EBBCan: PB11
spi_software_miso_pin = EBBCan: PB2
axes_map = z,-y,x

[resonance_tester]
accel_per_hz = 75
probe_points = 149, 149, 150
accel_chip = adxl345

[output_pin caselight]
pin = PB11
pwm = true
shutdown_value = 0
value = 0
cycle_time = 0.01

[bed_mesh]
speed = 350
horizontal_move_z = 10
mesh_min = 25, 25
mesh_max = 275, 275
probe_count = 5, 5
fade_start = 0.6
fade_end = 10.0
algorithm = bicubic
zero_reference_position = 149, 149

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 54.8
shaper_type_y = mzv
shaper_freq_y = 44.4

# Z offset history:
# 17-01-2025: -0.295
# 12-02-2025: -0.285 # For Ambrosia ASA-CF
# 21-02-2025: -0.325 # For Polymarker ASA
# 27-02-2025: -0.305 # For ABS KVP

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.087
#*# pid_ki = 2.151
#*# pid_kd = 538.735
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.023826, 0.006174, -0.001326
#*# 	-0.040076, -0.000076, -0.005076
#*# 	-0.003826, 0.019924, 0.014924
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 102.093
#*# max_x = 195.893
#*# min_y = 93.797
#*# max_y = 203.477
#*#
#*# [probe]
#*# z_offset = -0.285
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.579
#*# pid_ki = 2.965
#*# pid_kd = 64.121
